/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
body {
    background-color: rgba(255, 251, 251, 0.973);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
  padding: 0 0 30px 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
h3 {
    font-weight: bold;
    font-size: 24px;
    padding: 0 0 17px 0;
}
.banner {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    padding: 0 100px;
    
}
.left {
    width: 50%;
    font-size: 16px;
    vertical-align: top;
    opacity: 60%;
    padding: 0 133px 0 0;
    float: left;
    
    
}
.left__title {
    font-size: 42px;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    font-weight: bold;
}
.left__text{
    margin: 0 0 58px 0; 
    line-height: 28px;
}
.left__button {
    border: 2px solid #ff0000;
    padding: 10px 50px;
    color: rgb(221, 9, 9);
    font-weight: bold;
    border-radius: 5px;
}
.right {
    width: 50%;
    float: left;
    opacity: 50%;
    
    
    
    
}
.right__column1 {
    width: 50%;
    float: left;
    font-size: 16px;
    margin: 0 0 50px 0;
    padding: 0 25px 0 0;
    
}
.right__column1_img {

}
.right__column1_title {
    
}
.right__column1_text {
    line-height: 1.6;
    
    
}
.right__column2 {
    width: 50%;
    float: left;
    font-size: 16px;
    padding: 0 0 0 25px;
    margin: 0 0 50px 0;
}
.right__column2_img {
   
}
.right__column2_title {

}
.right__column2_text {
    line-height: 1.6;
    
   
}
.right__column3 {
    width: 50%;
    font-size: 16px;
    padding: 0 0 0 25px;
    float: right;
    
    

}
.right__column3_img {

}
.right__column3_title {

}
.right__column3_text {
    line-height: 1.6;
    
}
.right__column4 {
    
    width: 50%;
    font-size: 16px;
    padding: 0 25px 0 0;
    float: right;
}
.right__column4_img {
    
}
.right__column4_title {

}
.right__column4_text {
    line-height: 1.6;
    
}